<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a  data-toggle="collapse"  href="#formAccount"><i class="fa fa-location-arrow"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Information</h4>
                                    <p>Edit login, name, and mobile number</p>
                                </div>
                                <form method="post" class="mt-3 collapse review-form-box" id="formAccount">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="image" class="borderimg" src={{client.IMAGE}} alt="avatar" width="120" height="120"/>
                                            <div><label class="mb-0">{{client.FIRSTNAME}} {{client.LASTNAME}}</label></div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="FirstName" class="mb-0">First Name</label>
                                            <input type="text" class="form-control" name="firstname" id="FirstName" placeholder={{client.FIRSTNAME}}> </div>
                                        <div class="form-group col-md-6">
                                            <label for="LastName" class="mb-0">Last Name</label>
                                            <input type="text" class="form-control" name="lastname" id="LastName" placeholder={{client.LASTNAME}}> </div>
                                        <div class="form-group col-md-6">
                                            <label for="DOB" class="mb-0">Date of Birth</label>
                                            <input type="date" class="form-control" name="dob" id="DOB" value={{client.DOB}}> </div>
                                        <div class=" form-group col-md-6">
                                            <label for="Gender" class="mb-0">Gender</label>
                                            <select class=" form-control" id="Gender" name="gender">
                                                {{#equal user.GENDER "Female"}}
                                                <option selected>Female</option>
                                                <option>Male</option>
                                                {{/equal}}
                                                {{#equal user.GENDER "Male"}}
                                                <option>Female</option>
                                                <option selected>Male</option>
                                                {{/equal}}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="InputPhone" class="mb-0">Phone Number</label>
                                            <input type="text" class="form-control" name="phone" id="InputPhone" placeholder={{client.PHONE}}> </div>
                                        
                                        <div class="form-group col-md-6">
                                            <label for="Image" style="margin: 0px;">Change Image</label>
                                            <div class=" custom-file">
                                                <input type="file" class="custom-file-input" name="image" id="ImageFile">
                                                <label class="custom-file-label" for="ImageFile" style="text-align: left;">Choose file...</label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div style="display: none;"  id="errorInput" >
                                        <b style="color: coral;">
                                        The phone number you entered is not valid
                                        </b>
                                    </div>
                                    <button type="submit" id="btn-submit1" class="btn hvr-hover">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a  data-toggle="collapse"  href="#formAddress"> <i class="fa fa-lock"></i> </a>
                                </div>
                                <div class="service-desc">
                                    
                                    <h4>Login &amp; security</h4>
                                    <p>Edit Email addresses or password</p>
                                </div>
                                 {{#if errorCode}}
                                <form method="post"  class="mt-3 collapse show review-form-box" id="formAddress">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="InputEmail" class="mb-0">Email Address</label>
                                            <input style="width:50%; margin: auto; display: block;" type="text" id="InputEmail" class="form-control" name="email" placeholder={{client.EMAIL}}> </div>
                                        <div class="form-group col-md-12">
                                            <label for="Inputpassword" class="mb-0">Password</label>
                                            <input type="password" style="width:50%; margin: auto; display: block;" class="form-control" name="pass"> </div>
                                        <div class="form-group col-md-12">
                                            <label for="Comfirmpassword" class="mb-0">New Passwork</label>
                                            <input type="password" style="width:50%; margin: auto; display: block;" class="form-control" name="newpass"> </div>
                                    </div>
                                   {{#equal errorCode -1}}
                                    <div>
                                        <b style="color: #b0b435;">
                                            You have successfully changed your password
                                        </b>
                                    </div>
                                    {{/equal}}
                                    {{#equal errorCode 1}}
                                    <div>
                                        <b style="color: coral;">
                                            To change your password, you must enter both <br> the old and new passwords
                                        </b>
                                    </div>
                                    {{/equal}}
                                    {{#equal errorCode 2}}
                                    <div>
                                        <b style="color: coral;">
                                            You have entered the wrong password
                                        </b>
                                    </div>
                                    {{/equal}}
                                    <div style="display: none;"  id="errorInput1" >
                                        <b style="color: coral;">
                                        The email you entered is not valid
                                        </b>
                                    </div>
                                    <button id="btn-submit2" type="submit" class="btn hvr-hover" >Edit</button>
                                </form>
                                {{else}}
                                <form method="post"  class="mt-3 collapse review-form-box" id="formAddress">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="InputEmail" class="mb-0">Email Address</label>
                                            <input style="width:50%; margin: auto; display: block;" id="InputEmail" type="text" class="form-control" name="email" placeholder={{client.EMAIL}}> </div>
                                        <div class="form-group col-md-12">
                                            <label for="Inputpassword" class="mb-0">Password</label>
                                            <input type="password" style="width:50%; margin: auto; display: block;" class="form-control" name="pass"> </div>
                                        <div class="form-group col-md-12">
                                            <label for="Comfirmpassword" class="mb-0">New Passwork</label>
                                            <input type="password" style="width:50%; margin: auto; display: block;" class="form-control" name="newpass"> </div>
                                    </div>
                                    <div style="display: none;"  id="errorInput1" >
                                        <b style="color: coral;">
                                        The email you entered is not valid
                                        </b>
                                    </div>
                                    <button id="btn-submit2" type="submit" class="btn hvr-hover" >Edit</button>
                                </form>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-12 col-md-12 custom-logout-btn" >
                        <a href="/auth/logout" class="btn hvr-hover " style="color: white; font-weight:bold" >Log out</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.custom-file-input').addEventListener('change',function(e){
        var fileName = document.getElementById("ImageFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
        })
        // phone invalid
        let number = document.getElementById("InputPhone");
        function isVietnamesePhoneNumberValid() {
            let check = /(((\+|)84)|0)(3|5|7|8|9)+([0-9]{8})\b/.test(number.value);
            if(check === false)
            {
                document.getElementById("errorInput").style.display = "block";
                document.getElementById("btn-submit1").style.display = "none";
            }
            else {
                document.getElementById("errorInput").style.display = "none";
                document.getElementById("btn-submit1").style.display = "inline";

            }
            if(number.value === "")
            {
                document.getElementById("errorInput").style.display = "none";
                document.getElementById("btn-submit1").style.display = "inline";
            }
        }
        number.onchange = isVietnamesePhoneNumberValid;

        let email = document.getElementById("InputEmail");
        function isEmailValid() {
        let temp = new String(email.value).toLowerCase()
        let check = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(temp);
            if(check === false)
            {
                document.getElementById("errorInput1").style.display = "block";
                document.getElementById("btn-submit2").style.display = "none"
            }
            else {
                document.getElementById("errorInput1").style.display = "none";
                document.getElementById("btn-submit2").style.display = "inline";
            }
            if(temp === "")
            {
                document.getElementById("errorInput1").style.display = "none";
                document.getElementById("btn-submit2").style.display = "inline";
            }
        };
        email.onchange = isEmailValid;
    </script>
    <!-- End My Account -->
