<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a data-toggle="collapse"  href="#formOrder"> <i class="fa fa-gift"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Orders</h4>
                                    <p>Track, return, or buy things again</p>
                                </div>
                                <div class="mt-3 collapse " id="formOrder">
                                    <div class="row my-5">
                                        <div class="col-md-12">
                                            <h3 class="custom-h3">In Transit</h3>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#delivery1"> 
                                                    <div class="custom-delivery">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-calendar"></i> 
                                                            <p>11/11/2021 - 17:43:23</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <i class="fa fa-truck"></i>
                                                            <p>HCMUS khu pho 6, Linh Trung, Thu Duc, Ho Chi Minh</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <i class="fa fa-credit-card"></i> 
                                                            <p>Cash On Delivery</p>
                                                        </div>
                                                    </div>   
                                                </a>
                                                <ul class="cart-list collapse" id="delivery1">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">CANCEL</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Arrive Before</strong>: 13/11/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>

                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#delivery2"> 
                                                    <div class="custom-delivery">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-calendar"></i> 
                                                            <p>12/11/2021 - 12:02:56</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <i class="fa fa-truck"></i>
                                                            <p>HCMUS khu pho 6, Linh Trung, Thu Duc, Ho Chi Minh</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <i class="fa fa-credit-card"></i> 
                                                            <p>PayPal</p>
                                                        </div>
                                                    </div>   
                                                </a>
                                                <ul class="cart-list collapse" id="delivery2">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">CANCEL</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00 - $180.00 PayPal = $0.00</p>
                                                        <p class="custom-total"><strong>Arrive Before</strong>: 15/11/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="row my-5">
                                        <div class="col-md-6">
                                            <h3 class="custom-h3">Buy Again</h3>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#smile1"> 
                                                    <i class="fas fa-smile-wink"></i> 
                                                    <p>Day Received: 10/10/2021</p>
                                                </a>
                                                <ul class="cart-list collapse" id="smile1">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">BUY AGAIN</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Order Date</strong>: 9/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#smile2"> 
                                                    <i class="fas fa-smile-wink"></i> 
                                                    <p>Day Received: 21/10/2021</p>
                                                </a>
                                                <ul class="cart-list collapse" id="smile2">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">BUY AGAIN</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Order Date</strong>: 20/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <h3 class="custom-h3">Return</h3>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#sad1"> 
                                                    <i class="fas fa-sad-tear"></i>
                                                    <p>Reason for return: failure to deliver</p>
                                                </a>
                                                <ul class="cart-list collapse" id="sad1">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Return Date</strong>: 15/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#sad2"> 
                                                    <i class="fas fa-sad-tear"></i>
                                                    <p>Reason for return: damaged goods</p>
                                                </a>
                                                <ul class="cart-list collapse" id="sad2">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Return Date</strong>: 18/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a  data-toggle="collapse"  href="#formAccount"><i class="fa fa-lock"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Login &amp; security</h4>
                                    <p>Edit login, name, and mobile number</p>
                                </div>
                                <form class="mt-3 collapse review-form-box" id="formAccount">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <input type="image" class="borderimg" src={{user.IMAGE}} alt="avatar" width="120" height="120"/>
                                            <div><label class="mb-0">{{user.FIRSTNAME}} {{user.LASTNAME}}</label></div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="FirstName" class="mb-0">First Name</label>
                                            <input type="text" class="form-control" id="FirstName" value={{user.FIRSTNAME}}> </div>
                                        <div class="form-group col-md-6">
                                            <label for="LastName" class="mb-0">Last Name</label>
                                            <input type="text" class="form-control" id="LastName" value={{user.LASTNAME}}> </div>
                                        <div class="form-group col-md-6">
                                            <label for="DOB" class="mb-0">Date of Birth</label>
                                            <input type="date" class="form-control" id="DOB" value={{user.DOB}}> </div>
                                        <div class=" form-group col-md-6">
                                            <label for="Gender" class="mb-0">Gender</label>
                                            <input type="text" class="form-control" id="LastName" value={{user.GENDER}}>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="InputPhone" class="mb-0">Phone Number</label>
                                            <input type="text" class="form-control" id="InputPhone" value={{user.PHONE}}> </div>
                                        
                                        <div class="form-group col-md-6">
                                            <label for="Image" style="margin: 0px;">Change Image</label>
                                            <div class=" custom-file">
                                                <input type="file" class="custom-file-input" id="validatedCustomFile">
                                                <label class="custom-file-label" for="validatedCustomFile" style="text-align: left;">Choose file...</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Inputpassword" class="mb-0">New Password</label>
                                            <input type="password" class="form-control" id="Inputpassword"> </div>
                                        <div class="form-group col-md-6">
                                            <label for="Comfirmpassword" class="mb-0">Comfirm New Passwork</label>
                                            <input type="password" class="form-control" id="Comfirmpassword"> </div>
                                    </div>
                                    <button type="submit" class="btn hvr-hover">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a  data-toggle="collapse"  href="#formAddress"> <i class="fa fa-location-arrow"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Addresses</h4>
                                    <p>Edit Email addresses for orders and gifts</p>
                                </div>
                                <form class="mt-3 collapse review-form-box" id="formAddress">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="InputEmail" class="mb-0">Email Address</label>
                                            <input style="width:50%; margin: auto; display: block;"type="text" class="form-control" id="InputEmail" placeholder="Enter New Email"> </div>
                                    </div>
                                    <button type="submit" class="btn hvr-hover" >Edit</button>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 custom-logout-btn" >
                        <a href="/auth/logout" class="btn hvr-hover " style="color: white; font-weight:bold" >Log out</a>
                    </div>
                    
                </div>
                

                

                
            </div>
        </div>
    </div>
    <!-- End My Account -->
