

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Orders</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active">My Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

<form method="post">


    <!-- Start My Order  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a data-toggle="collapse"  href="#formOrder"> <i class="fa fa-gift"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Orders</h4>
                                    <p>Track, return, or buy things again</p>
                                </div>
                                <div class="mt-3 collapse show" id="formOrder">
                                    <div class="row my-5">
                                        <div class="col-md-12">
                                            <h3 class="custom-h3">In Transit</h3>
                                            {{#if emptyOrder}}
                                             <div class="custom-div">
                                                 <p class="no_result_title">{{emptyOrder}}</p>
                                             </div>
                                            {{else}}
                                            {{#each orders}}
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#{{ORDER_ID}}"> 
                                                    <div class="custom-delivery">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-calendar"></i> 
                                                            <p>{{time}}	&nbsp; - &nbsp;{{date}}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <i class="fa fa-truck"></i>
                                                            <p>{{ADDRESS}}</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <i class="fa fa-credit-card"></i> 
                                                            <p style="text-transform:uppercase">{{payment}}</p>
                                                        </div>
                                                    </div>   
                                                </a>
                                                <ul class="cart-list collapse" id="{{ORDER_ID}}">
                                                    {{#each productList}}
                                                    <li  style="width:83%;margin: auto;">
                                                        <a href="/shop/shopDetail/{{PRODUCT_ID}}" class="photo"><img src="{{image}}" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail/{{PRODUCT_ID}}">{{name}} </a></h6>
                                                        <p>{{QUANTITY}} x <span class="price">${{price}}</span> = <span class="price">${{PRODUCTPRICE}}</span></p>
                                                    </li>
                                                    {{/each}}
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <button class="btn btn-default hvr-hover float-right custom-total" name="receive" value="{{ORDER_ID}}" type="submit">RECEIVE</button>
                                                        {{!-- <button class="btn btn-default hvr-hover float-right custom-total" data-toggle="modal" data-target="#returnod">CANCLE</button> --}}
                                                        <button class="btn btn-default hvr-hover float-right custom-total" name="return" value="{{ORDER_ID}}" type="submit">CANCLE</button>
                                                        
                                                            <p class="custom-total">
                                                                <strong>Discount</strong>: ${{discount}}&nbsp; - &nbsp;
                                                                <strong>Tax</strong>: ${{tax}}&nbsp; - &nbsp;
                                                                <strong>Shipping</strong>: ${{shipping}}&nbsp; - &nbsp;
                                                                <b style="color: #b0b435"><strong>Total</strong>: ${{totalprice}}</b>
                                                            </p>
                                                        <p class="custom-total"><strong>Arrive Before</strong>: {{arrive}}</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>

                                    <div class="row my-5">
                                        <div class="col-md-6">
                                            <h3 class="custom-h3">Orders received</h3>
                                            {{#if emptySuccess}}
                                            <div class="custom-div">
                                            <p class="no_result_title" style="size: 14px;">{{emptySuccess}}</p>
                                            </div>
                                            {{else}}
                                            {{#each success}}
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#{{DELIVERY_ID}}"> 
                                                    <i class="fas fa-smile-wink"></i> 
                                                    <p>Day Received: {{arrive}}</p>
                                                </a>
                                                <ul class="cart-list collapse"  id="{{DELIVERY_ID}}">
                                                    {{#each productList}}
                                                    <li style="width:80%;margin: auto;">
                                                        <a href="/shop/shopDetail/{{PRODUCT_ID}}" class="photo"><img src="{{image}}" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail/{{PRODUCT_ID}}">{{name}} </a></h6>
                                                        <p>{{QUANTITY}} x <span class="price">${{price}}</span> = <span class="price">${{PRODUCTPRICE}}</span></p>
                                                    </li>
                                                    {{/each}}
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <button name="deleteRecieved" value="{{DELIVERY_ID}}" type="submit" class="btn btn-default hvr-hover float-right custom-total">DELETE</button>
                                                        <p class="custom-total">
                                                            <strong>Discount</strong>: ${{discount}}&nbsp; - &nbsp;
                                                            <strong>Tax</strong>: ${{tax}}&nbsp; - &nbsp;
                                                            <strong>Shipping</strong>: ${{shipping}}&nbsp; - &nbsp;
                                                            <b style="color: #b0b435"><strong>Total</strong>: ${{totalprice}}</b>
                                                        </p>
                                                        <p class="custom-total"><strong>Order Date</strong>: {{orderday}}</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                        <div class=" col-md-6">
                                            <h3 class="custom-h3">Return</h3>
                                            {{#if emptyReturn}}
                                            <div class="custom-div">
                                                <p class="no_result_title" style="size: 14px;">{{emptyReturn}}</p>
                                            </div>
                                            {{else}}
                                            {{#each returns}}
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#{{ORDER_ID}}"> 
                                                    <i class="fas fa-sad-tear"></i>
                                                    <p>Reason for return: {{NOTE}}</p>
                                                </a>
                                                <ul class="cart-list collapse" id="{{ORDER_ID}}">
                                                    {{#each productList}}
                                                    <li style="width:80%;margin: auto;">
                                                        <a href="/shop/shopDetail/{{PRODUCT_ID}}" class="photo"><img src="{{image}}" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail/{{PRODUCT_ID}}">{{name}} </a></h6>
                                                        <p>{{QUANTITY}} x <span class="price">${{price}}</span> = <span class="price">${{PRODUCTPRICE}}</span></p>
                                                    </li>
                                                    {{/each}}
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        
                                                        <p class="custom-total">
                                                            <strong>Discount</strong>: ${{discount}}&nbsp; - &nbsp;
                                                            <strong>Tax</strong>: ${{tax}}&nbsp; - &nbsp;
                                                            <strong>Shipping</strong>: ${{shipping}}&nbsp; - &nbsp;
                                                            <b style="color: #b0b435"><strong>Total</strong>: ${{totalprice}}</b>
                                                        </p>
                                                        <p class="custom-total"><strong>Return Date</strong>: {{returnday}}</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            {{/each}}
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{!-- {{#each orders}}
<input name="orderCancle"  value="{{ORDER_ID}}"  hidden>
<div class="modal" id="returnod" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Why you want to <br> return this order?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul>
              <li><button name="Reasonreturn" value="damaged goods" type="submit" class="btn btn-default hvr-hover">I received a damaged order</button></li>
              <li><button name="Reasonreturn" value="unable to receive goods" type="submit" class="btn btn-default hvr-hover">I can't receive the goods</button></li>
              <li><button name="Reasonreturn" value="order is canceled" type="submit" class="btn btn-default hvr-hover">I have no reason</button></li>
          </ul>
        </div>
    </div>
  </div>
</div>
{{/each}} --}}
</form>
    <!-- End My Order -->
