<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Orders</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active">My Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start My Order  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a data-toggle="collapse"  href="#formOrder"> <i class="fa fa-gift"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Your Orders</h4>
                                    <p>Track, return, or buy things again</p>
                                </div>
                                <div class="mt-3 collapse " id="formOrder">
                                    <div class="row my-5">
                                        <div class="col-md-12">
                                            <h3 class="custom-h3">In Transit</h3>
                                            {{#each orders}}
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#{{ORDER_ID}}"> 
                                                    <div class="custom-delivery">
                                                        <div class="col-md-3">
                                                            <i class="fa fa-calendar"></i> 
                                                            <p>{{time}}	&nbsp; - &nbsp;{{date}}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <i class="fa fa-truck"></i>
                                                            <p>{{ADDRESS}}</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <i class="fa fa-credit-card"></i> 
                                                            <p style="text-transform:uppercase">{{payment}}</p>
                                                        </div>
                                                    </div>   
                                                </a>
                                                <ul class="cart-list collapse" id="{{ORDER_ID}}">
                                                    {{#each productList}}
                                                    <li>
                                                        <a href="/shop/shopDetail/{{PRODUCT_ID}}" class="photo"><img src="{{image}}" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail/{{PRODUCT_ID}}">{{name}} </a></h6>
                                                        <p>{{QUANTITY}} x <span class="price">${{PRICE}}</span> = <span class="price">${{price}}</span></p>
                                                    </li>
                                                    {{/each}}
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">CANCEL</a>
                                                        <p class="custom-total">
                                                            <strong>Discount</strong>: ${{discount}}&nbsp; - &nbsp;
                                                            <strong>Tax</strong>: ${{tax}}&nbsp; - &nbsp;
                                                            <strong>Shipping</strong>: ${{shipping}}&nbsp; - &nbsp;
                                                            <b style="color: #b0b435"><strong>Total</strong>: ${{totalprice}}</b>
                                                        </p>
                                                        <p class="custom-total"><strong>Arrive Before</strong>: {{arrive}}</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>

                                    <div class="row my-5">
                                        <div class="col-md-6">
                                            <h3 class="custom-h3">Buy Again</h3>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#smile1"> 
                                                    <i class="fas fa-smile-wink"></i> 
                                                    <p>Day Received: 10/10/2021</p>
                                                </a>
                                                <ul class="cart-list collapse" id="smile1">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">BUY AGAIN</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Order Date</strong>: 9/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#smile2"> 
                                                    <i class="fas fa-smile-wink"></i> 
                                                    <p>Day Received: 21/10/2021</p>
                                                </a>
                                                <ul class="cart-list collapse" id="smile2">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        <a href="/shop/cart" class="btn btn-default hvr-hover btn-cart float-right custom-total">BUY AGAIN</a>
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Order Date</strong>: 20/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <h3 class="custom-h3">Return</h3>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#sad1"> 
                                                    <i class="fas fa-sad-tear"></i>
                                                    <p>Reason for return: failure to deliver</p>
                                                </a>
                                                <ul class="cart-list collapse" id="sad1">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Return Date</strong>: 15/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="custom-div">
                                                <a data-toggle="collapse"  href="#sad2"> 
                                                    <i class="fas fa-sad-tear"></i>
                                                    <p>Reason for return: damaged goods</p>
                                                </a>
                                                <ul class="cart-list collapse" id="sad2">
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Carrot </a></h6>
                                                        <p>1 x <span class="price">$80.00</span> = <span class="price">$80.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Potato</a></h6>
                                                        <p>1 x <span class="price">$60.00</span> = <span class="price">$60.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="/shop/shopDetail" class="photo"><img src="/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="/shop/shopDetail">Green grapes</a></h6>
                                                        <p>1 x <span class="price">$40.00</span> = <span class="price">$40.00</span></p>
                                                    </li>
                                                    <div class="custom-total" style="height: 70px; text-align:left">
                                                        
                                                        <p class="custom-total"><strong>Total</strong>: $180.00</p>
                                                        <p class="custom-total"><strong>Return Date</strong>: 18/10/2021</p>
                                                        
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Order -->
