<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
<form method="get" action="/shop" id="filterandpaging">


    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by</span>
                                    <select name="filter" class="selectpicker form-control" onChange="this.form.submit();" data-placeholder="$ USD">   
                                    {{#if filter}}
                                        {{#equal filter 0}}
                                                <option value="0" selected>All products</option>
                                                <option value="1">Popularity</option>
                                                <option value="2">High Price → Low Price</option>
                                                <option value="3">Low Price → High Price</option>
                                        {{/equal}} 
                                        {{#equal filter 1}}
                                                <option value="0">All products</option>
                                                <option value="1" selected>Popularity</option>
                                                <option value="2">High Price → Low Price</option>
                                                <option value="3">Low Price → High Price</option>
                                        {{/equal}}           
                                        {{#equal filter 2}}
                                                <option value="0">All products</option>
                                                <option value="1">Popularity</option>
                                                <option value="2" selected>High Price → Low Price</option>
                                                <option value="3">Low Price → High Price</option>
                                        {{/equal}} 
                                        {{#equal filter 3}}
                                                <option value="0">All products</option>
                                                <option value="1">Popularity</option>
                                                <option value="2" selected>High Price → Low Price</option>
                                                <option value="3">Low Price → High Price</option>
                                        {{/equal}}   
                                    {{else}}  
                                        <option value="0">All products</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">High Price → Low Price</option>
                                        <option value="3">Low Price → High Price</option>   
                                    {{/if}}                     
                                    </select>    
                                    
                                    </div>
                                    
                                
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">
                                        {{#if filter}}
                                        {{#equal filter 0}}
                                        <p class="shoplist_title">Every produces in our shop</p>
                                        {{/equal}}
                                        {{#equal filter 1}}
                                        <p class="shoplist_title">Products that have been sold 80+ times</p>
                                        {{/equal}}
                                        {{#equal filter 2}}
                                        <p class="shoplist_title">Products from cheap to expensive</p>
                                        {{/equal}}
                                        {{#equal filter 3}}
                                        <p class="shoplist_title">Products from expensive to cheap</p>
                                        {{/equal}}
                                        {{else}}
                                        <p class="shoplist_title">Every produces in our shop</p>
                                        {{/if}}
                                        {{#if search}}
                                        <p class="shoplist_title">SEARCH BY "{{search}}"</p>
                                        {{/if}}
                                    </div>
                                    <div class="row">
                                        {{#if noResult}}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <h2 class="no_result_title">{{noResult}}</h2>
                                                <img src="../../public/images/no result found icon.png" alt="..." style="width: 200px; margin:auto">
                                            </div>
                                        {{else}}
                                        {{#each products}}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">New</p>
                                                        </div>
                                                        <img src={{IMAGE}} class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li>
                                                                    <input onchange='this.form.submit();' style="display: none;" id="id" value="{{PRODUCT_ID}}" type="radio" name="id"/>
                                                                    <a href="/shop/shopDetail/{{PRODUCT_ID}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a>
                                                                </li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>
                                                            {{#if ../user}}
                                                            <a class="cart" href="#">Add to Cart</a>
                                                            {{else}}
                                                            <a href="/auth/logout" class="cart">Add to Cart</a>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <h4>{{PRODUCT_NAME}}</h4>
                                                        <h5>${{PRICE}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                        {{/if}}
                                            
                                        

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    {{#each products}}
                                    <div class="list-view-box">
                                        
                                        <div class="row">
                                            
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="new">New</p>
                                                        </div>
                                                        <img src={{IMAGE}} class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="/shop/shopDetail" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>{{PRODUCT_NAME}}</h4>
                                                    <h5> ${{PRICE}}</h5>
                                                    <p>{{DETAIL}}</p>
                                                    <a class="btn hvr-hover" href="#">Add to Cart</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{!-- pagination --}}
                            {{#if currentPage}}
                            <ul class="pagination">
                                
                                    <li class="page-item">
                                        <input  onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{prePage}}" type="radio" name="page"/>
                                        <label for="page-prev"  class="btn"><span aria-hidden="true">&laquo;</span></label>
                                    </li>
                                    <li class="page-item"><a class="page-link">{{currentPage}}</a></li>
                                    <li class="page-item"></li>
                                        <input  onchange='this.form.submit();' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                                        <label for="page-next"  class="btn"><span aria-hidden="true">&raquo;</span></label>
                                    </li>
                                </ul>
                            {{/if}}

                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            {{#if search}}
                                <input class="form-control" placeholder="{{search}}" type="text" name="search">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            {{else}}
                                <input class="form-control" placeholder="Search here..." type="text" name="search">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            {{/if}}
                        </div>
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">Fruits & Vegetables <small class="text-muted">(100)</small>
								</a>

                                    <div class="collapse show" id="sub-men1" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="/shop/Fruit" class="list-group-item list-group-item-action active">Fruits<small class="text-muted">(50)</small></a>
                                            <a href="/shop/Vegetables" class="list-group-item list-group-item-action">Vegetables<small class="text-muted">(10)</small></a>
                                            <a href="/shop/Podded Vegetables" class="list-group-item list-group-item-action">Podded Vegetables<small class="text-muted">(10)</small></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse" aria-expanded="false" aria-controls="sub-men2">Roots 
								<small class="text-muted">(50)</small>
								</a>
                                    <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                                        <div class="list-group">
                                            <a href="/shop/Bulbs" class="list-group-item list-group-item-action">Bulbs<small class="text-muted">(10)</small></a>
                                            <a href="/shop/Root and tuberous" class="list-group-item list-group-item-action">Root and tuberous<small class="text-muted">(20)</small></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</form>
    <!-- End Shop Page -->


    